{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 100,
  "useTabs": false,
  "importOrder": [
    "^services/(.*)$",
    "^store/(.*)$",
    "^themes/(.*)$",
    "^routes/(.*)$",
    "^lib/(.*)$",
    "^apis/(.*)$",
    "^models/(.*)$",
    "^types/(.*)$",
    "^components/(.*)$",
    "^components/atoms/(.*)$",
    "^components/molecules/(.*)$",
    "^components/organisms/(.*)$",
    "^components/templates/(.*)$",
    "^hooks/(.*)$",
    "^pages/(.*)$",
    "^assets/(.*)$",
    "^configs/(.*)$",
    "^constant/(.*)$",
    "^containers/(.*)$",
    "^guards/(.*)$",
    "^locales/(.*)$",
    "^scss/(.*)$",
    "^utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
