@font-face {
  font-family: 'SFP-R';
  src: url('../assets/fonts/SFProDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SFP-RItalic';
  src: url('../assets/fonts/SF-Pro-Display-RegularItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'SFP-M';
  src: url('../assets/fonts/SF-Pro-Display-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'SFP-MItalic';
  src: url('../assets/fonts/SF-Pro-Display-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'SFP-B';
  src: url('../assets/fonts/SF-Pro-Display-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SFP-BItalic';
  src: url('../assets/fonts/SF-Pro-Display-BoldItalic.ttf') format('truetype');
}
